body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    
  }

  .navbar {

  }

  .home-view {
    background-image: url('/images/Bahrain.png');
    background-size: cover;
    background-position: center;
  }

  .trans-background {
    background-color: rgba(0,0,0,0.37);
    color: white;
    background-size: cover;
    /* height: 100%; */
    /* margin-top: -40px; */
  }

  .trans-background-content {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
  }

  .text-size {
    font-size: 10px;
  }
  
  a {
    color: #00B7FF;
  }

  .login {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .noStyle{
    text-decoration: none;
    color: black;
  }

  .card-img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
  }

  .card-comment{
    margin: 0 auto;
  }
  .event-desc {
    margin: 0 auto;
    font-size: 25px;
    width: 70%;
    text-align: justify;
  }

  .event-img {
    padding: 40px 0;
  }

  .event-p {
    font-size: 20px;
  }