<h1>Add Category</h1>
<form method="POST" action="/category/add">
<div>
    <label for="categoryName">Category Name:</label>
    <input type="text" name="name" id="categoryName" class="form-control mb-3">
</div>
<button  type="submit" class="btn btn-primary">Add</button>
</form>