<h1 class="mb-5">Edit Category</h1>

<form method="POST" action="/category/update">
    <input type="hidden" name="id" value="<%= category._id %>">
    <div class="row g-3 align-items-center mb-4">
        <div class="col-auto">
            <label for="categoryName" class="col-form-label text-body-secondary">Category Name</label>
        </div>
        <div class="col-auto">
            <input type="text" id="categoryName" name="name" class="form-control" value="<%= category.name %>">
        </div>
    </div>
    <button  type="submit" class="btn btn-danger">Update Category</button>
    <a href="/category/index"><button  type="button" class="btn btn-secondary">Cancle</button></a>
    </form>
