<h1>Categories</h1>

<ul>
    <% categories.forEach(function(category) {%>
    <li><a href="/category/detail?id=<%= category._id %>"> <%= category.name %> </a> (<a href='/category/edit?id=<%= category._id %>'>Edit</a> | <a href="/category/delete?id=<%= category._id %>">Delete</a>)</li>
    <% }); %>
</ul>