<!-- <h1><%= message %></h1> -->
<section class="py-5 text-center container-fluid w-100 home-view pt-0" style="height: 450px;">
    <div class="row py-lg-5 trans-background d-flex justify-content-center align-items-center" style="height: 450px;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light trans-background-content mb-4">Event Wave</h1>
        <p class="lead trans-background-content ">Discover upcoming and ongoing events that will captivate you. Learn more about each event, its highlights, and reviews from attendees. Dive into the excitement!</p>
        <p>
          <a href="/category/index" class="btn btn-danger my-2">View Categories</a>
          <a href="/event/index" class="btn btn-light my-2">View Events</a>
        </p>
      </div>
    </div>
</section>
