


<div class="row g-5">
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Add Event</h4>
    <form method="POST" action="/event/add" enctype="multipart/form-data">
      <div class="row g-3">
        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" required>
        </div>

        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <input type="text" name="description" class="form-control" id="description" required>
        </div>


        <div class="col-sm-6">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" name="startDate" id="startDate" class="form-control" required>
        </div>
      
        <div class="col-sm-6">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" name="endDate" id="endDate" class="form-control" required>
        </div>

    <div class="col-12">
        <label>Image</label>
        <input type="file" name="image" class="form-control" accept="image/png, image/jpeg, image/jpg" multiple />
    </div>

        <div class="col-12">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="location" id="location" class="form-control" required>
      </div>

    

      <div class="col-sm-6">
        <label for="category">Category</label>
        <select name="category[]" id="category" class="form-select" multiple>
          <option>Select a Category</option>
          <% categories.forEach(function(category) { %>
              <option value="<%= category._id %>"><%= category.name %></option>
          <% }); %>
      </select>
    </div>

      <hr class="my-4">

      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">Add Event</button>
        <a href="/event/index"><button type="button" class="btn btn-secondary">Cancle</button></a>
      </div> 
    </form>
  </div>
</div>

