<h1> Add Event </h1>

<form method="POST" action="/event/add" enctype="multipart/form-data">
    <div>
      <label>Name</label>
      <input type="text" name="name" class="form-control" />
    </div>
       <label>Description</label>
      <input type="text" name="description" class="form-control" />
    <div>
      
    </div>
  
    <div>
      <label>Start Date</label>
      <input type="date" name="startDate" class="form-control" />
    </div>
  
    <div>
      <label>End Date</label>
      <input type="date" name="endDate" class="form-control" />
    </div>
  
    <div>
      <label>time</label>
      <input type="time" name="time" class="form-control" />
    </div>

    <div>
        <label>Image</label>
        <input type="file" name="image" class="form-control" accept="image/png, image/jpeg, image/jpg" multiple />
    </div>

    <div>
        <label>Location</label>
        <input type="text" name="location" class="form-control" />
    </div>
   
    <div>
        <label>Category</label>
        <select name="category[]" class="form-select" multiple>
          <option>Select a Category</option>
          <% categories.forEach(function(category) { %>
              <option value="<%= category._id %>"><%= category.name %></option>
          <% }); %>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Create Event</button>
  </form>